# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.vscode/

# leaving this here for reference
using-mdx.mdx

*active.mdx # Ignore all active.mdx files to accidentally committing them (active machines)